<div class="actions-wrapper">
	<div class="form-inline">
		{{#compare viewType '===' 'pbx'}}
			<a href="javascript:void(0);" id="add" class="action-number">
				<i class="fa fa-plus monster-primary-color"></i>
				<span class="action-text">
					{{ @root.i18n.numbers.addExternal.label }}
				</span>
			</a>
		{{/compare}}
	</div>
</div>

<div class="accounts-numbers external">
	{{#each listAccounts}}
		<div class="account-section {{ open }}" data-id="{{ id }}" data-name="{{ name }}">
			{{#compare ../viewType '!==' 'pbx'}}
				<div class="account-header">
					<div class="right-links pull-right">
						<a class="delete" href="javascript:void(0);">
							<i class="fa fa-times"></i>
							<span class="action-text">
								{{@root.i18n.delete}}
							</span>
						</a>
						<a class="add" href="javascript:void(0);">
							<i class="fa fa-plus"></i>
							<span class="action-text">
								{{ @root.i18n.numbers.addExternal.label }}
							</span>
						</a>
					</div>

					{{#unless ../miscSettings.embeddedPortalView}}
						<div class="left-part">
							<input class="number-checkbox" type="checkbox">
						</div>
						{{#if ../miscSettings.limitlistAccounts}}
							<div class="not-expandable" data-type="external">
						{{else}}
							<div class="expandable" data-type="external">
						{{/if}}
							{{ name }}
							<span class="count">({{ countExternalNumbers }})</span>
						</div>
					{{/unless}}

					{{#if ../miscSettings.embeddedPortalView}}
						{{#if ../miscSettings.enableLocalNumberSearch}}
							<div class="left-part search-custom">
								<div class="search-box">
									<i class="fa fa-search"></i>
									<input class="span2 search-query" type="text" placeholder="{{ @root.i18n.numbers.searchNumbers }}"
										pattern="[0-9+ ]*" inputmode="tel"
										onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 32 || (event.charCode == 43 && this.value.indexOf('+') === -1)"
									/>
								</div>
							</div>
						{{/if}}
					{{/if}}	
				</div>
			{{/compare}}
			<div class="numbers-wrapper">
				{{#each externalNumbers}}
					<div class="number-box" data-id="{{id}}" data-number="{{number}}">
						<div class="number-options pull-right">
							<div class="navbar">
								<ul class="nav pull-right">
									<li class="dropdown">
										<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-cog"></i>
										</a>
										<ul class="dropdown-menu">
										{{#unless verified}}
											<li>
												<a class="verify" href="javascript:void(0);">
													<i class="fa fa-phone"></i>
													{{@root.i18n.numbers.verify}}
												</a>
											</li>
											{{#isSuperDuper}}
											<li>
												<a class="force-verify" href="javascript:void(0);">
													<i class="fa fa-check"></i>
													{{@root.i18n.numbers.forceVerify}}
												</a>
											</li>
											{{/isSuperDuper}}
											<li class="divider"></li>
										{{/unless}}
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<input class="number-checkbox" type="checkbox">
						<div class="phone-number monster-phone-number">
							{{#monsterNumberWrapper number}}{{/monsterNumberWrapper}}
						{{#if verified}}
							<i class="fa fa-check-circle monster-green" data-toggle="tooltip" title="{{@root.i18n.numbers.verified}}"></i>
						{{/if}}
						</div>
					</div>
				{{else}}
					<div class="number-box no-data">
						{{ @root.i18n.numbers.noExternalNumber }}
					</div>
				{{/each}}
				<div class="number-box no-results">
					{{ ../i18n.numbers.noRecordsAvailable }}
				</div>
				<div class="number-box spacer"></div>
			</div>
		</div>
	{{/each}}
</div>
