<div id="numbers_container">
	<div class="number-tabs clearfix">
		<div class="number-tabs-inner">
			<div id="box_spare_numbers" class="half-box" data-type="spare">
				<span class="title"> {{ accountName }} {{ i18n.numbers.spareNumbers }} </span>
			</div>
			<div id="box_used_numbers" class="half-box" data-type="used">
				<span class="title"> {{ i18n.numbers.usedNumbers }} </span>
			</div>
		{{#unless miscSettings.hideAddExternalNumbers}}	
			{{#if canAddExternalCids}}
				<div id="box_external_numbers" class="half-box" data-type="external">
					<span class="title"> {{ i18n.numbers.externalNumbers }} </span>
				</div>
			{{/if}}
		{{/unless}}
		</div>
	</div>

	<div class="list-container">
		<div class="list-numbers clearfix" data-type="spare">
		</div>

		<div class="list-numbers clearfix" data-type="used">
		</div>

		<div class="list-numbers clearfix" data-type="external">
		</div>
	</div>
</div>
