<div id="actions_wrapper_spare" class="actions-wrapper">
	<div class="form-inline">

		{{#unless miscSettings.hideNumbersLabel}}
			<label>{{ i18n.numbers.numbers }}</label>
		{{/unless}}

		{{#compare viewType '===' 'pbx'}}
			{{#unless hideBuyNumbers}}
			<ul class="nav buy-numbers-dropdown">
				<li class="dropdown">
					<a href="#" id="buy_numbers" class="dropdown-toggle buy-dropdown action-number" data-toggle="dropdown" data-target="#"><i class="fa fa-shopping-cart monster-green"></i><span class="action-text">{{ @root.i18n.numbers.buy }}</span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="buy-numbers-link" data-type="regular" href="#">{{@root.i18n.numbers.buyNumberLinks.regular}}</a></li>
						<li><a class="buy-numbers-link" data-type="tollfree" href="#">{{@root.i18n.numbers.buyNumberLinks.tollfree}}</a></li>
						<!-- <li><a class="buy-numbers-link" data-type="vanity" href="#">{{@root.i18n.numbers.buyNumberLinks.vanity}}</a></li> -->
					</ul>
				</li>
			</ul>
			{{/unless}}
			{{#unless hidePort}}
				<a href="#" id="port_numbers" class="action-number port"><i class="fa fa-external-link monster-primary-color"></i><span class="action-text">{{ @root.i18n.numbers.port }}</span></a>
			{{/unless}}

			{{#unless miscSettings.hideSyncFeature}}
				<a href="#" id="sync_numbers" class="action-number sync help-popover" data-original-title="{{ @root.i18n.numbers.sync.help }}" data-placement="top" data-toggle="tooltip"><i class="fa fa-refresh monster-orange"></i><span class="action-text">{{ @root.i18n.numbers.sync.label }}</span></a>
			{{/unless}}
		
			{{/compare}}

		{{#unless miscSettings.embeddedPortalView}}
			{{#unless miscSettings.enableLocalNumberSearch}}
				<div class="input-append pull-right search-custom">
					<input class="span2" type="text" placeholder="{{ i18n.numbers.searchNumbers }}"/>
					<button class="monster-button monster-button-success non-fixed search-numbers" type="button">{{ i18n.numbers.go }}</button>
				</div>
			{{/unless}}
			
			{{#if miscSettings.enableLocalNumberSearch}}
				<div class="input-append pull-right search-custom">
					<input class="span2" type="text" placeholder="{{ i18n.numbers.searchNumbers }}"
						pattern="[0-9+ ]*" inputmode="tel"
						onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 32 || (event.charCode == 43 && this.value.indexOf('+') === -1)"
					/>
				</div>
			{{/if}}
		{{/unless}}

	</div>
</div>

<div class="accounts-numbers">
	{{#each listAccounts}}
		<div class="account-section {{ open }}" data-id="{{ id }}" data-name="{{ name }}">
			{{#compare ../viewType '!==' 'pbx'}}
				<div class="account-header">
					<div class="right-links pull-right">

					{{#if ../canAddExternalNumbers}}
						<a href="javascript:void(0);" id="delete_numbers" class="action-number delete-external help-popover" data-original-title="{{ @root.i18n.numbers.deleteExternal.help }}" data-placement="top" data-toggle="tooltip"><i class="fa fa-times"></i><span class="action-text">{{ @root.i18n.numbers.deleteExternal.label }}</span></a>
						<a href="javascript:void(0);" id="add_external_number" class="action-number add-external help-popover" data-original-title="{{ @root.i18n.numbers.addExternal.help }}" data-placement="top" data-toggle="tooltip"><i class="fa fa-plus"></i><span class="action-text">{{ @root.i18n.numbers.addExternal.label }}</span></a>
					{{/if}}

					{{#unless @root.hideBuyNumbers}}
						<ul class="nav buy-numbers-dropdown">
							<li class="dropdown">
								<a href="#" id="buy_numbers" class="dropdown-toggle buy-dropdown action-number" data-toggle="dropdown" data-target="#"><i class="fa fa-shopping-cart"></i><span class="action-text">{{ @root.i18n.numbers.buy }}</span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a class="buy-numbers-link" data-type="regular" href="javascript:void(0);">{{@root.i18n.numbers.buyNumberLinks.regular}}</a></li>
									<li><a class="buy-numbers-link" data-type="tollfree" href="javascript:void(0);">{{@root.i18n.numbers.buyNumberLinks.tollfree}}</a></li>
									<!-- <li><a class="buy-numbers-link" data-type="vanity" href="javascript:void(0);">{{@root.i18n.numbers.buyNumberLinks.vanity}}</a></li> -->
								</ul>
							</li>
						</ul>
					{{/unless}}
						
						{{#unless ../miscSettings.hideSyncFeature}}
							{{#unless ../hidePort}}
								<a href="javascript:void(0);" id="port_numbers" class="action-number port"><i class="fa fa-external-link"></i><span class="action-text">{{ @root.i18n.numbers.port }}</span></a>
							{{/unless}}
							<a href="javascript:void(0);" id="port_numbers" class="action-number sync help-popover" data-original-title="{{ @root.i18n.numbers.sync.help }}" data-placement="top" data-toggle="tooltip"><i class="fa fa-refresh"></i><span class="action-text">{{ @root.i18n.numbers.sync.label }}</span></a>
						{{/unless}}
						
					</div>
					
					{{#unless ../miscSettings.embeddedPortalView}}
						{{#if ../canAddExternalNumbers}}
						<div class="left-part">
							<input type="checkbox"></input>
						</div>
						{{/if}}
						<div class="expandable">
							{{ name }}
							<span class="count">({{ countSpareNumbers }})</span>
						</div>
					{{/unless}}


					{{#if ../miscSettings.embeddedPortalView}}
						<div class="left-part search-custom">
							<div class="search-box">
								<i class="fa fa-search"></i>
								<input class="span2 search-query" type="text" placeholder="{{ @root.i18n.numbers.searchNumbers }}"
									pattern="[0-9+ ]*" inputmode="tel"
									onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 32 || (event.charCode == 43 && this.value.indexOf('+') === -1)"
								/>
							</div>
						</div>
					{{/if}}




				</div>
			{{/compare}}

			{{#if ../canAddExternalNumbers}}
				<div class="numbers-wrapper">
					{{#each spareNumbers}}
						<div class="number-box" data-state="{{this.state}}" data-phoneNumber="{{this.phoneNumber}}">
							<div class="number-options pull-right"></div>
							<input class="number-options-checkbox" type="checkbox"></input>
							<div class="phone-number monster-phone-number" data-state="{{this.state}}"{{#compare this.state "!==" "in_service"}} data-toggle="tooltip" data-placement="top" data-original-title="{{ formatVariableToDisplay this.state }}"{{/compare}}>{{#monsterNumberWrapper this.phoneNumber}}{{/monsterNumberWrapper}}</div>
							<div class="features pull-right">
								
								{{#if features}}
									{{#each features}}

										{{#compare this "e911"}}
											{{> featureIcon feature="e911" color="red" icon="fa fa-ambulance" tooltip=@root.i18n.iconNumberFeatures.e911.tooltip}}
										{{/compare}}
										{{#compare this "uk_999"}}
											{{> featureIcon feature="e911" color="red" icon="fa fa-ambulance" tooltip=@root.i18n.uk999.label}}
										{{/compare}}
										{{#compare this "failover"}}
											{{> featureIcon feature="failover" color="green" icon="icon-telicon-failover" tooltip=@root.i18n.iconNumberFeatures.failover.tooltip}}
										{{/compare}}
										{{#compare this "outbound_cnam"}}
											{{> featureIcon feature="outbound_cnam" color="blue" icon="fa fa-user" tooltip=@root.i18n.iconNumberFeatures.outbound_cnam.tooltip}}
										{{/compare}}
										{{#compare this "inbound_cnam"}}
											{{> featureIcon feature="inbound_cnam" color="green" icon="fa fa-user" tooltip=@root.i18n.iconNumberFeatures.inbound_cnam.tooltip}}
										{{/compare}}
										{{#compare this "prepend"}}
											{{> featureIcon feature="prepend" color="orange" icon="fa fa-file-text-o" tooltip=@root.i18n.iconNumberFeatures.prepend.tooltip}}
										{{/compare}}
										{{#compare this "local"}}
											{{> featureIcon feature="local" color="purple" icon="fa fa-rocket" tooltip=@root.i18n.iconNumberFeatures.local.tooltip}}
										{{/compare}}
										{{#compare this "mobile"}}
											{{> featureIcon feature="mobile" color="yellow" icon="fa fa-mobile-phone" tooltip=@root.i18n.iconNumberFeatures.mobile.tooltip}}
										{{/compare}}
										{{#compare this "sms"}}
											{{> featureIcon feature="sms" color="blue" icon="fa fa-comment" tooltip=@root.i18n.iconNumberFeatures.sms.tooltip}}
										{{/compare}}
										{{#compare this "mms"}}
											{{> featureIcon feature="mms" color="blue" icon="fa fa-commenting" tooltip=@root.i18n.iconNumberFeatures.mms.tooltip}}
										{{/compare}}
										{{#compare this "carrier_disabled"}}
											{{> featureIcon feature="carrier_disabled" color="red" icon="fa fa-exclamation-triangle" tooltip=@root.i18n.numberStatus.carrierDisable}}
										{{/compare}}
										
									{{/each}}
								{{/if}}

								{{#*inline "featureIcon"}}
									<i class="feature-{{feature}} monster-{{color}} {{icon}}" data-toggle="tooltip" data-title="{{tooltip}}"></i>
								{{/inline}}

								{{#compare this.state '===' 'port_in'}}
									<i class="fa fa-exclamation-triangle monster-red active help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{@root.i18n.numbers.portIconHelp}}"></i>
								{{/compare}}
							</div>
						</div>
					{{else}}
						<div class="number-box no-data">
							{{ @root.i18n.numbers.noSpareNumber }}
						</div>
					{{/each}}
				</div>
			{{else}}
				<div class="numbers-wrapper">
					{{#each spareNumbers}}
						<div class="number-box" data-state="{{this.state}}" data-phoneNumber="{{this.phoneNumber}}">
							<div class="number-options pull-right"></div>
							<div class="phone-number monster-phone-number" data-state="{{this.state}}"{{#compare this.state "!==" "in_service"}} data-toggle="tooltip" data-placement="top" data-original-title="{{ formatVariableToDisplay this.state }}"{{/compare}}>{{#monsterNumberWrapper this.phoneNumber}}{{/monsterNumberWrapper}}</div>
							<div class="features pull-right">
								
								{{#if features}}
									{{#each features}}

										{{#compare this "e911"}}
											{{> featureIcon feature="e911" color="red" icon="fa fa-ambulance" tooltip=@root.i18n.iconNumberFeatures.e911.tooltip}}
										{{/compare}}
										{{#compare this "uk_999"}}
											{{> featureIcon feature="e911" color="red" icon="fa fa-ambulance" tooltip=@root.i18n.uk999.label}}
										{{/compare}}
										{{#compare this "failover"}}
											{{> featureIcon feature="failover" color="green" icon="icon-telicon-failover" tooltip=@root.i18n.iconNumberFeatures.failover.tooltip}}
										{{/compare}}
										{{#compare this "outbound_cnam"}}
											{{> featureIcon feature="outbound_cnam" color="blue" icon="fa fa-user" tooltip=@root.i18n.iconNumberFeatures.outbound_cnam.tooltip}}
										{{/compare}}
										{{#compare this "inbound_cnam"}}
											{{> featureIcon feature="inbound_cnam" color="green" icon="fa fa-user" tooltip=@root.i18n.iconNumberFeatures.inbound_cnam.tooltip}}
										{{/compare}}
										{{#compare this "prepend"}}
											{{> featureIcon feature="prepend" color="orange" icon="fa fa-file-text-o" tooltip=@root.i18n.iconNumberFeatures.prepend.tooltip}}
										{{/compare}}
										{{#compare this "local"}}
											{{> featureIcon feature="local" color="purple" icon="fa fa-rocket" tooltip=@root.i18n.iconNumberFeatures.local.tooltip}}
										{{/compare}}
										{{#compare this "mobile"}}
											{{> featureIcon feature="mobile" color="yellow" icon="fa fa-mobile-phone" tooltip=@root.i18n.iconNumberFeatures.mobile.tooltip}}
										{{/compare}}
										{{#compare this "sms"}}
											{{> featureIcon feature="sms" color="blue" icon="fa fa-comment" tooltip=@root.i18n.iconNumberFeatures.sms.tooltip}}
										{{/compare}}
										{{#compare this "mms"}}
											{{> featureIcon feature="mms" color="blue" icon="fa fa-commenting" tooltip=@root.i18n.iconNumberFeatures.mms.tooltip}}
										{{/compare}}
										{{#compare this "carrier_disabled"}}
											{{> featureIcon feature="carrier_disabled" color="red" icon="fa fa-exclamation-triangle" tooltip=@root.i18n.numberStatus.carrierDisable}}
										{{/compare}}
										
									{{/each}}
								{{/if}}

								{{#*inline "featureIcon"}}
									<i class="feature-{{feature}} monster-{{color}} {{icon}}" data-toggle="tooltip" data-title="{{tooltip}}"></i>
								{{/inline}}

								{{#compare this.state '===' 'port_in'}}
									<i class="fa fa-exclamation-triangle monster-red active help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{@root.i18n.numbers.portIconHelp}}"></i>
								{{/compare}}
							</div>
						</div>
					{{else}}
						<div class="number-box no-data">
							{{ @root.i18n.numbers.noSpareNumber }}
						</div>
					{{/each}}
				</div>
			{{/if}}
		</div>
	{{/each}}
</div>
