<div id="actions_wrapper_used" class="actions-wrapper">
	<div class="form-inline">
		
		{{#unless miscSettings.embeddedPortalView}}
			{{#unless miscSettings.enableLocalNumberSearch}}
				<div class="input-append pull-right search-custom">
					<input class="span2" type="text" placeholder="{{ i18n.numbers.searchNumbers }}"/>
					<button class="monster-button monster-button-success non-fixed search-numbers" type="button">
						{{ i18n.numbers.go }}
					</button>
				</div>
			{{/unless}}

			{{#if miscSettings.enableLocalNumberSearch}}
				<div class="input-append pull-right search-custom">
					<input class="span2" type="text" placeholder="{{ i18n.numbers.searchNumbers }}"
						pattern="[0-9+ ]*" inputmode="tel"
						onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 32 || (event.charCode == 43 && this.value.indexOf('+') === -1)"
					/>
				</div>
			{{/if}}
		{{/unless}}

	</div>
</div>
<div class="accounts-numbers">
	{{#each listAccounts}}
		<div class="account-section {{ open }}" data-id="{{ id }}" data-name="{{ name }}">
			{{#compare ../viewType '!==' 'pbx'}}
				<div class="account-header">
					
					{{#unless ../miscSettings.embeddedPortalView}}
						<div class="left-part">
						</div>
						<div class="expandable">
							{{ name }}
							<span class="count">({{ countUsedNumbers }})</span>
						</div>
					{{/unless}}
					
					{{#if ../miscSettings.embeddedPortalView}}
						<div class="left-part search-custom">
							<div class="search-box">
								<i class="fa fa-search"></i>
								<input class="span2 search-query" type="text" placeholder="{{ @root.i18n.numbers.searchNumbers }}"/>
							</div>
						</div>
					{{/if}}

				</div>
			{{/compare}}
			<div class="numbers-wrapper">
				{{#each usedNumbers}}
					<div class="number-box disabled" data-state="{{this.state}}" data-phoneNumber="{{this.phoneNumber}}">
						<div class="number-options"></div>

						<div class="phone-number monster-phone-number" data-state="{{this.state}}"{{#compare this.state "!==" "in_service"}} data-toggle="tooltip" data-placement="top" data-original-title="{{ formatVariableToDisplay this.state }}"{{/compare}}>
							{{#monsterNumberWrapper this.phoneNumber}}{{/monsterNumberWrapper}}
						</div>

						<div class="used-by">
							{{#compare this.ownerType '===' 'user'}}
								<i class="icon-telicon-seats"></i>
							{{else}}
								{{#compare this.ownerType '===' 'group'}}
									<i class="fa fa-users"></i>
								{{else}}
									{{#compare this.ownerType '===' 'main'}}
										<i class="icon-telicon-home"></i>
									{{else}}
										{{#compare this.ownerType '===' 'conference'}}
											<i class="fa fa-comments"></i>
										{{else}}
											{{#compare this.ownerType '===' 'callflows'}}
												<i class="fa fa-random"></i>
											{{else}}
												{{#compare this.ownerType '===' 'mobileUser'}}
													<i class="icon-telicon-mobile-phone"></i>
												{{/compare}}
											{{/compare}}
										{{/compare}}
									{{/compare}}
								{{/compare}}
							{{/compare}}

							{{ this.owner }}
						</div>

						<div class="features pull-right">
							
							{{#if features}}
								{{#each features}}
								
									{{#compare this "e911"}}
										{{> featureIcon feature="e911" color="red" icon="fa fa-ambulance" tooltip=@root.i18n.iconNumberFeatures.e911.tooltip}}
									{{/compare}}
									{{#compare this "uk_999"}}
										{{> featureIcon feature="e911" color="red" icon="fa fa-ambulance" tooltip=@root.i18n.uk999.label}}
									{{/compare}}
									{{#compare this "failover"}}
										{{> featureIcon feature="failover" color="green" icon="icon-telicon-failover" tooltip=@root.i18n.iconNumberFeatures.failover.tooltip}}
									{{/compare}}
									{{#compare this "outbound_cnam"}}
										{{> featureIcon feature="outbound_cnam" color="blue" icon="fa fa-user" tooltip=@root.i18n.iconNumberFeatures.outbound_cnam.tooltip}}
									{{/compare}}
									{{#compare this "inbound_cnam"}}
										{{> featureIcon feature="inbound_cnam" color="green" icon="fa fa-user" tooltip=@root.i18n.iconNumberFeatures.inbound_cnam.tooltip}}
									{{/compare}}
									{{#compare this "prepend"}}
										{{> featureIcon feature="prepend" color="orange" icon="fa fa-file-text-o" tooltip=@root.i18n.iconNumberFeatures.prepend.tooltip}}
									{{/compare}}
									{{#compare this "local"}}
										{{> featureIcon feature="local" color="purple" icon="fa fa-rocket" tooltip=@root.i18n.iconNumberFeatures.local.tooltip}}
									{{/compare}}
									{{#compare this "mobile"}}
										{{> featureIcon feature="mobile" color="yellow" icon="fa fa-mobile-phone" tooltip=@root.i18n.iconNumberFeatures.mobile.tooltip}}
									{{/compare}}
									{{#compare this "sms"}}
										{{> featureIcon feature="sms" color="blue" icon="fa fa-comment" tooltip=@root.i18n.iconNumberFeatures.sms.tooltip}}
									{{/compare}}
									{{#compare this "mms"}}
										{{> featureIcon feature="mms" color="blue" icon="fa fa-commenting" tooltip=@root.i18n.iconNumberFeatures.mms.tooltip}}
									{{/compare}}
									{{#compare this "carrier_disabled"}}
										{{> featureIcon feature="carrier_disabled" color="red" icon="fa fa-exclamation-triangle" tooltip=@root.i18n.numberStatus.carrierDisable}}
									{{/compare}}
									
								{{/each}}
							{{/if}}

							{{#*inline "featureIcon"}}
								<i class="feature-{{feature}} monster-{{color}} {{icon}}" data-toggle="tooltip" data-title="{{tooltip}}"></i>
							{{/inline}}
							
							{{#compare this.state '===' 'port_in'}}
								<i class="fa fa-exclamation-triangle monster-red active help-popover" data-toggle="tooltip" data-placement="top" data-original-title="{{@root.i18n.numbers.portIconHelp}}"></i>
							{{/compare}}
						</div>
					</div>
				{{else}}
					<div class="number-box disabled no-data">
						{{ @root.i18n.numbers.noUsedNumber }}
					</div>
				{{/each}}
			</div>
		</div>
	{{/each}}
</div>
