@import url(../submodules/numbers/numbers.css);
@import url(../submodules/numberPrepend/numberPrepend.css);
@import url(../submodules/uk999/uk999.css);

/* Hack because of otpimization: can't have relative paths since the folder hierarchy changes after optimization */
.number-manager-layout {
    min-height: 100%;
    background-color: #f0f0f9;
}

#numbers_container {
	max-width: none;
	margin: 0;
}

.trunkstore_popup.cnam .left_image {
    background: url('static/images/cid_phone.png') center no-repeat;
}

.trunkstore_popup.e911 .e911_image {
    background: url('static/images/e911_image.png') no-repeat center;
}

.trunkstore_popup.failover .header {
    background: url('static/images/failover_header.png') no-repeat center;
}

#buy_number #vanity_search_div .dialpad_img {
    background: url('static/images/dialpad.png') no-repeat center;
}

#vanity_country_select, #tollfree_country_select, #regular_country_select {
    background-image: url('static/images/US_flag.png');
    background-repeat: no-repeat;
}

.features {
    display: flex;
    align-items: center; /* Center icons vertically within the .features div */
    padding-top: 18px !important;
}

.monster-phone-number-wrapper .monster-number-flag {
    margin-top: -4px;
}

#numbers_container .account-section .numbers-wrapper .number-box .number-options .dropdown {
    margin-top: 5px !important;
}

#number_details {
    margin-bottom: 0;
}

#number_details .row-fluid {
    padding: 0;
}

#number_details .help-box,
#uk_999 .help-box,
#number_prepend .help-box {
    width: 90%;
    margin: 20px auto;
}

#number_prepend_value {
    display: block;
    margin: 0 auto;
}

/* search box formatting */
#numbers_container .search-custom input {
	padding: 6px;
	height: 20px !important;
}

#numbers_container .actions-wrapper .form-inline .input-append >[class*=monster-button] {
    margin-left: 0px;
    height: 34px;
    line-height: 0px;
    display: inline-block;
}

.deleted-numbers-disabled {
    pointer-events: none; 
    opacity: 0.5;
    cursor: not-allowed;
}