<form id="uk_999" class="trunkstore_popup e911 form-horizontal" >
	<div class="row-fluid">
		<div class="e911-title">{{ i18n.uk999.title }}</div>
	</div>
	<div class="row-fluid">
		<!--
		<div class="pull-left">
			<div id="e911_rotated_text" class="rotated-text">{{ i18n.uk999.rotatedText }}</div>
			<div class="e911_image"/>
		</div>

		<div class="pull-left">
		-->

			<div class="control-group">
				<label class="control-label" for="address_type">{{ i18n.uk999.addressType }}</label>
				<div class="controls">
					<select id="address_type" name="address_type">
						<option value="business"{{#compare address_type '===' 'business'}} selected{{/compare}}>{{ i18n.uk999.addressTypeBusiness }}</option>
						<option value="residential"{{#compare address_type '===' 'residential'}} selected{{/compare}}>{{ i18n.uk999.addressTypeResidential }}</option>
					</select>
				</div>
			</div>

			<div class="control-group" id="forenameGroup">
				<label class="control-label" for="addressForename">{{ i18n.uk999.addressForename }}</label>
				<div class="controls">
					<input id="addressForename" type="text" placeholder='{{ i18n.uk999.addressForename }}' name="address.forename" value="{{address.forename}}" />
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="addressName">{{ i18n.uk999.addressName }}</label>
				<div class="controls">
					<input id="addressName" type="text" placeholder='{{ i18n.uk999.addressName }}' name="address.name" value="{{address.name}}" />
				</div>
			</div>

			<div class="control-group" id="bussuffixGroup">
				<label class="control-label" for="addressBussuffix">{{ i18n.uk999.addressBussuffix }}</label>
				<div class="controls">
					<input id="addressBussuffix" type="text" placeholder='{{ i18n.uk999.addressBussuffix }}' name="address.bussuffix" value="{{address.bussuffix}}" />
				</div>
			</div>
			
			
			<div class="control-group">
				<label class="control-label" for="addressPremises">{{ i18n.uk999.addressPremises }}</label>
				<div class="controls">
					<input id="addressPremises" type="text" placeholder='{{ i18n.uk999.addressPremises }}' name="address.premises" value="{{address.premises}}" />
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="addressThoroughfare">{{ i18n.uk999.addressThoroughfare }}</label>
				<div class="controls">
					<input id="addressThoroughfare" type="text" placeholder='{{ i18n.uk999.addressThoroughfare }}' name="address.thoroughfare" value="{{address.thoroughfare}}" />
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="addressLocality">{{ i18n.uk999.addressLocality }}</label>
				<div class="controls">
					<input id="addressLocality" type="text" placeholder='{{ i18n.uk999.addressLocality }}' name="address.locality" value="{{address.locality}}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="addressPostcode">{{ i18n.uk999.addressPostcode }}</label>
				<div class="controls">
					<input id="addressPostcode" type="text" placeholder='{{ i18n.uk999.addressPostcode }}' name="address.postcode" value="{{address.postcode}}" />
				</div>
			</div>

			<!--{{#if status}}
				<div class="control-group gmap_link_div" style="display: none;">
					<div class="controls">
						<a class="monster-link" id="gmap_link" href="http://maps.google.com/maps?q=${latitude},+${longitude}+(Your+E911+Location)&iwloc=A&hl=en" target="_blank">{{ i18n.uk999.verifyLocation }}</a>
					</div>
				</div>
			{{/if}}-->
			
			<div class="control-group">
				<label for="notification_contact_emails" class="control-label">
					{{ i18n.uk999.email.label}}
				</label>
				<div class="controls">
					<textarea name="notification_contact_emails" id="notification_contact_emails" placeholder="{{i18n.uk999.email.placeholder}}">
						{{notification_contact_emails}}
					</textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		{{#monsterText}}
			{{i18n.uk999.infoBox}}
		{{/monsterText}}
	</div>
	<div class="form-actions">
		<button class="monster-button-danger" id="remove_e911_btn">
			{{i18n.remove}}
		</button>
		<div class="actions-group">
			<a class="cancel-link monster-link blue">
				{{i18n.cancel}}
			</a>
			<button class="monster-button-success" id="submit_btn">
				{{i18n.add}}
			</button>
		</div>
	</div>
</form>
