<form id="uk_999" class="trunkstore_popup e911 form-horizontal" >
	<div class="row-fluid">
		<div class="e911-title">{{ i18n.uk999.title }}</div>
	</div>
	<div class="row-fluid">
		
			<div class="control-group" style="border-bottom: 1px solid #e5e5e5; padding-bottom: 15px;">
				<label class="control-label" for="addressType">{{ i18n.uk999.addressType }}<i class="help-popover fa fa-question-circle fa-lg" data-original-title="{{i18n.uk999.addressTypeHelp}}" data-placement="right" data-toggle="tooltip"></i></label>
				<div class="controls">
					<select id="addressType" name="address_type">
						<option value="business"{{#compare address_type '===' 'business'}} selected{{/compare}}>{{ i18n.uk999.addressTypeBusiness }}</option>
						<option value="residential"{{#compare address_type '===' 'residential'}} selected{{/compare}}>{{ i18n.uk999.addressTypeResidential }}</option>
					</select>
				</div>
			</div>

			<div class="control-group" id="forenameGroup">
				<label class="control-label" for="addressForename">{{ i18n.uk999.addressForename }}</label>
				<div class="controls">
					<input id="addressForename" type="text" placeholder='{{ i18n.uk999.addressForename }}' name="address.forename" value="{{address.forename}}" maxlength="20"/>
				</div>
			</div>

			<div class="control-group" id="surnameGroup">
				<label class="control-label" for="addressSurname">{{ i18n.uk999.addressSurname }}</label>
				<div class="controls">
					<input id="addressSurname" type="text" placeholder='{{ i18n.uk999.addressSurname }}' name="address.name" value="{{address.name}}" maxlength="50"/>
				</div>
			</div>
			
			<div class="control-group" id="businessNameGroup">
				<label class="control-label" for="addressName">{{ i18n.uk999.addressBusinessName }}</label>
				<div class="controls">
					<input id="addressBusinessName" type="text" placeholder='{{ i18n.uk999.addressBusinessName }}' name="address.name" value="{{address.name}}" maxlength="50"/>
				</div>
			</div>

			<div class="control-group" id="bussuffixGroup">
				<label class="control-label" for="addressBussuffix">{{ i18n.uk999.addressBussuffix }}<i class="help-popover fa fa-question-circle fa-lg" data-original-title="{{i18n.uk999.addressBussuffixHelp}}" data-placement="right" data-toggle="tooltip"></i></label>
				<div class="controls">
					<select id="addressBussuffix" name="address.bussuffix">
						<option value="">Select an option</option>
						<option value="Cic"{{#compare address.bussuffix '===' 'Cic'}} selected{{/compare}}>{{ i18n.uk999.addressBussuffixValue.cic }}</option>
						<option value="Cio"{{#compare address.bussuffix '===' 'Cio'}} selected{{/compare}}>{{ i18n.uk999.addressBussuffixValue.cio }}</option>
						<option value="Ips"{{#compare address.bussuffix '===' 'Ips'}} selected{{/compare}}>{{ i18n.uk999.addressBussuffixValue.ips }}</option>
						<option value="Lp"{{#compare address.bussuffix '===' 'Lp'}} selected{{/compare}}>{{ i18n.uk999.addressBussuffixValue.lp }}</option>
						<option value="Llp"{{#compare address.bussuffix '===' 'Llp'}} selected{{/compare}}>{{ i18n.uk999.addressBussuffixValue.llp }}</option>
						<option value="Ltd"{{#compare address.bussuffix '===' 'Ltd'}} selected{{/compare}}>{{ i18n.uk999.addressBussuffixValue.ltd }}</option>
						<option value="Plc"{{#compare address.bussuffix '===' 'Plc'}} selected{{/compare}}>{{ i18n.uk999.addressBussuffixValue.plc }}</option>
						<option value="Slp"{{#compare address.bussuffix '===' 'Slp'}} selected{{/compare}}>{{ i18n.uk999.addressBussuffixValue.slp }}</option>
						<option value="Unltd"{{#compare address.bussuffix '===' 'Unltd'}} selected{{/compare}}>{{ i18n.uk999.addressBussuffixValue.unltd }}</option>
					</select>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="addressPremises">{{ i18n.uk999.addressPremises }}</label>
				<div class="controls">
					<input id="addressPremises" type="text" placeholder='{{ i18n.uk999.addressPremises }}' name="address.premises" value="{{address.premises}}" maxlength="60"/>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="addressThoroughfare">{{ i18n.uk999.addressThoroughfare }}</label>
				<div class="controls">
					<input id="addressThoroughfare" type="text" placeholder='{{ i18n.uk999.addressThoroughfare }}' name="address.thoroughfare" value="{{address.thoroughfare}}" maxlength="55"/>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="addressLocality">{{ i18n.uk999.addressLocality }}</label>
				<div class="controls">
					<input id="addressLocality" type="text" placeholder='{{ i18n.uk999.addressLocality }}' name="address.locality" value="{{address.locality}}" maxlength="30"/>
				</div>
			</div>

			<div class="control-group" style="border-bottom: 1px solid #e5e5e5; padding-bottom: 20px;">
				<label class="control-label" for="addressPostcode">{{ i18n.uk999.addressPostcode }}</label>
				<div class="controls">
					<input id="addressPostcode" type="text" placeholder='{{ i18n.uk999.addressPostcode }}' name="address.postcode" value="{{address.postcode}}" />
				</div>
			</div>

			<!--{{#if status}}
				<div class="control-group gmap_link_div" style="display: none;">
					<div class="controls">
						<a class="monster-link" id="gmap_link" href="http://maps.google.com/maps?q=${latitude},+${longitude}+(Your+E911+Location)&iwloc=A&hl=en" target="_blank">{{ i18n.uk999.verifyLocation }}</a>
					</div>
				</div>
			{{/if}}-->

			<div class="control-group" style="border-bottom: 1px solid #e5e5e5; padding-bottom: 20px;">
				<label for="notification_contact_emails" class="control-label">{{ i18n.uk999.email.label}}<i class="help-popover fa fa-question-circle fa-lg" data-original-title="{{i18n.uk999.email.help}}" data-placement="right" data-toggle="tooltip"></i></label>
				<div class="controls">
					<textarea name="notification_contact_emails" id="notification_contact_emails" placeholder="{{i18n.uk999.email.placeholder}}">{{notification_contact_emails}}</textarea>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="addressStatus">{{ i18n.uk999.addressStatus }}<i class="help-popover fa fa-question-circle fa-lg" data-original-title="{{i18n.uk999.addressStatusHelp}}" data-placement="right" data-toggle="tooltip"></i></label>
				<div class="controls">
					<input id="addressStatus" type="text" placeholder=' ' name="address_status" value="{{address_status}}" style="background-color: #eeeeee; opacity: 1; cursor: default;" disabled />
				</div>
			</div>


		</div>
	</div>
	<div class="row-fluid">
		{{#monsterText}}
			{{i18n.uk999.infoBox}}
		{{/monsterText}}
	</div>
	<div class="form-actions">

		<div>
			<div class="actions-group" id="removeButton">
				<button class="monster-button-danger" id="remove_uk999_btn">
					{{i18n.remove}}
				</button>
			</div>
		</div>
		<div>
			<div class="actions-group" id="cancelButton">
				<a class="cancel-link monster-link blue">
					{{i18n.cancel}}
				</a>
			</div>
			<div class="actions-group" id="addButton">
				<button class="monster-button-success" id="submit_btn">
					{{i18n.add}}
				</button>
			</div>
			<div class="actions-group" id="updateButton">
				<button class="monster-button-success" id="update_btn">
					{{i18n.update}}
				</button>
			</div>
		</div>
	</div>
</form>
