/* _colors.scss */
/* unique color names */
/* semantic color names */
#numbers_container {
	display: block;
	max-width: 902px;
}

#numbers_container .number-tabs {
    border-bottom: 1px solid #c0c0c9;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(48, 48, 57, .3);
}

#numbers_container .number-tabs-inner {
	max-width: 902px;
	margin: 0 auto;
	height: 50px;
	display: flex;
	align-items: flex-end; 
	gap: 16px;
	justify-content: flex-start;
}

#numbers_container .list-container {
	max-width: 902px;
	margin: 0 auto;
	padding: 0 16px;
}

#numbers_container .number-tabs-inner .half-box {
	line-height: 12px;
	color: #303039;
	border-bottom: 3px solid transparent;
	padding-bottom: 10px;
}

#numbers_container .number-tabs-inner .half-box.selected {
	color: #2297ff;
	position: relative;
	border-bottom: 3px solid #2297ff;
}

#numbers_container .number-tabs-inner .half-box:hover {
	cursor: pointer;
}

#numbers_container .number-tabs-inner .half-box:hover:not(.selected) {
	color: #2297ff;
}

#numbers_container .number-tabs {
	position: relative;
}

#numbers_container .actions-wrapper .dropdown-move {
	display: inline-block;
	list-style: none;
}

#numbers_container .actions-wrapper .dropdown-move .accounts-dropdown {
	padding: 0;
}

#numbers_container .account-section .numbers-wrapper {
	display: none;
}

#numbers_container .account-section .numbers-wrapper .number-box {
	position: relative;
	border: 0px;
	border-top: 1px solid #e0e0e9;
	border-right: 1px solid #e0e0e9;
	margin-top: -1px;
	pointer-events: none;
    background: #f6f6f6;
	padding: 0px 10px;
}

.accounts-numbers {
	border: 1px solid #e0e0e9;
}

#numbers_container .account-section .numbers-wrapper .number-box input[type="checkbox"] {
    pointer-events: auto;
}

#numbers_container .account-section .numbers-wrapper .number-box .number-options,
#numbers_container .account-section .numbers-wrapper .number-box .number-options * {
    pointer-events: auto;
}

#numbers_container .account-section .numbers-wrapper .number-box.selected {
    font-weight: 400;
    border-top: 1px solid #e0e0e9 !important;
    background: #f6f6f6;
    box-shadow: none;
}

#numbers_container .account-section .numbers-wrapper .number-box .number-options {
	position: absolute;
	right: 0;
}

#numbers_container .account-section .numbers-wrapper .number-box .features {
	margin-right: 44px;
}

#numbers_container .account-section .numbers-wrapper .number-box .number-options .dropdown {
	margin-top: 4px;
}

#numbers_container .account-section .numbers-wrapper .number-box .phone-number {
	display: inline-block;
	width: 150px;
}

#numbers_container .account-section .numbers-wrapper .number-box .phone-number>i:not(:first-child) {
	margin-left: 10px;
}

#numbers_container .account-section .numbers-wrapper .number-box .locality {
	width: 250px;
}

#numbers_container .account-section .numbers-wrapper .number-box .used-by i {
	margin-right: 5px;
}

#numbers_container .account-section .numbers-wrapper .number-box .locality,
#numbers_container .account-section .numbers-wrapper .number-box .used-by {
	margin-left: 30px;
	display: inline-block;
	padding-left: 10px;
}

#numbers_container .account-section .numbers-wrapper .number-box .locality .flag {
	margin-right: 10px;
}

#numbers_container .account-section .numbers-wrapper .number-box.no-data:hover {
	background: #f9f9f9;
}

#numbers_container .account-section input[type="checkbox"] {
	margin: -2px 20px 0 4px;
}

#numbers_container .account-section .account-header {
	background: #F2F2F2;
	border: 0px;
	border-bottom: 1px solid #e0e0e9;
	font-size: 18px;
	height: 70px;
	line-height: 70px;
	padding-left: 10px;
}

#numbers_container .account-section .account-header:hover {
	background: #F0F0F0;
}

#numbers_container .account-section .account-header .count {
	margin-left: 10px;
}

#numbers_container .account-section .account-header .left-part {
	width: 30px;
	float: left;
}

#numbers_container .account-section .account-header .expandable {
	margin: 0 150px 0 40px;
	cursor: pointer;
}

#numbers_container .account-section .account-header .not-expandable {
	margin: 0 150px 0 40px;
}

#numbers_container .account-section .account-header .right-links {
	height: 100%;
}

#numbers_container .account-section .account-header .right-links .buy-numbers-dropdown {
	margin-bottom: 0;
	display: inline-block;
}

#numbers_container .account-section.open .account-header .right-links a>* {
	color: #ffffff;
}

#numbers_container .account-section .account-header .right-links a>* {
	color: #2297FF;
}

#numbers_container .account-section .account-header .right-links i {
	margin-right: 6px;
	text-decoration: none !important;
}

#numbers_container .account-section .account-header .right-links a {
	font-size: 14px;
	white-space: nowrap;
}

#numbers_container .account-section .account-header .right-links>* {
	margin-right: 10px;
}

#numbers_container .account-section .account-header .account-actions {
	margin: 8px;
	cursor: pointer !important;
}

#numbers_container .dropdown-toggle {
	background: transparent !important;
}

#numbers_container .dropdown-toggle>i:hover {
	color: #000;
}

#numbers_container .account-section .account-header input[type="checkbox"],
#numbers_container .account-section .account-header .count {
	display: none;
}

#numbers_container .account-section.open .account-header input[type="checkbox"],
#numbers_container .account-section.open .account-header .count {
	display: inline-block;
}

#numbers_container .account-section.open .account-header {
	background-color: #2297ff;
	color: #ffffff;
	border-radius: 0px !important;
}

#numbers_container .account-section.open .numbers-wrapper {
	display: block;
}

#numbers_container .account-section:nth-last-of-type(1) .account-header {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom: 1px solid #e0e0e9;
}

#numbers_container .account-section:nth-last-of-type(1) .numbers-wrapper .number-box:nth-last-of-type(1) {
	border-bottom-width: 0px;
}

#numbers_container .actions-wrapper {
	height: 40px;
	line-height: 40px;
	margin: 20px 0 10px 0;
}

#numbers_container .actions-wrapper #trigger_links {
	display: none;
}

#numbers_container .actions-wrapper #trigger_links.active {
	display: inline;
}

#numbers_container .buy-numbers-dropdown {
	display: inline-block;
}

#numbers_container .actions-wrapper label {
	font-size: 16px;
	font-weight: 600;
	margin-right: 20px;
}

#numbers_container .actions-wrapper a.action-number {
	margin-right: 20px;
	color: #666666;
	white-space: nowrap;
	text-decoration: none !important;
}

#numbers_container .actions-wrapper a.action-number:hover .action-text {
	text-decoration: underline;
}

#numbers_container .actions-wrapper a i {
	margin-right: 5px;
}

#numbers_container .features i {
    margin-right: 10px;
}

#numbers_container .features i.active {
	display: inline-block;
}

#numbers_container .search-custom input {
	padding: 6px;
}

@media (max-width: 962px) {
	#numbers_container .account-section .numbers-wrapper .number-box .locality {
		display: none;
	}
}

/* Dialog Spare Numbers */
/*.dialog-spare-container {
    padding: 15px;
}

.dialog-spare-container .grid-numbers .title {
    border-radius: 4px 4px 0 0;
    color: #FFFFFF;
    line-height: 30px;
    padding: 10px;
    width: 600px;
}

.dialog-spare-container .number-box > input[type="checkbox"] {
    margin-right: 10px;
}

.dialog-spare-container .grid-numbers {
    padding-bottom: 10px;
}

.dialog-spare-container .grid-numbers .numbers {
    border: 1px solid #DDD;
    max-height: 372px;
    overflow: auto;
}

.dialog-spare-container .grid-numbers .numbers .number-box {
    border: 1px solid #DDD;
}

.dialog-spare-container .grid-numbers .numbers .number-box.no-data:hover {
    cursor: default;
    background: inherit;
}

.dialog-spare-container .grid-numbers .empty-search-row {
    text-align: center;
    padding: 10px;
}

.dialog-spare-container .dialog-buttons-wrapper a.cancel-link {
    margin-right: 30px;
    vertical-align: middle;
    color: $primary-color;
}*/

/* Dialog Confirmation Actions */
#action_confirmation h4 {
	margin-bottom: 0;
	padding: 15px 15px 25px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

#action_confirmation h5 {
	margin-bottom: 0px;
	padding: 15px 15px 25px;
	text-align: center;
}

#action_confirmation .table-wrapper {
	max-height: 420px;
	overflow-y: auto;
	max-width: 90%;
    margin: 0 auto;
}

#action_confirmation thead th {
	color: #000;
	background-color: #f9f9f9;
	text-shadow: none;
}

#action_confirmation th {
	padding: 15px 8px 15px 20px;
}

#action_confirmation td {
	padding-left: 60px;
	padding-right: 15px;
}

#action_confirmation tr {
	background-color: #f9f9f9;
}

#action_confirmation tr:nth-child(odd) {
	background-color: #f9f9f9;
}

#action_confirmation td i.remove-number {
	position: relative;
	top: 7px;
}

#action_confirmation td i.remove-number:hover {
	cursor: pointer;
}

#action_confirmation .actions {
	padding: 15px;
}

#action_confirmation .actions a {
	text-decoration: none;
	margin-right: 10px;
}

#action_confirmation .actions a:hover {
	text-decoration: underline;
}

#action_confirmation .center.phone-number {
	text-align: center;
}

#action_confirmation td:has(.center.phone-number) {
    padding-left: 0px;
}

#action_confirmation td {
    padding-left: 60px;
    padding-right: 15px;
}

/* Delete confirmation popup */
.delete-confirmation-popup {
	width: 600px;
	padding: 15px;
}

.delete-confirmation-popup .actions {
	padding-top: 20px;
	text-align: center;
}

/* Add External */
#numbers_add_external {
	padding: 20px;
}

#numbers_add_external .list-numbers {
	height: 200px;
	width: 508px;
}

#numbers_add_external .help-text {
	color: #999;
	font-size: 12px;
	font-style: italic;
}

#numbers_add_external .cancel-link {
	margin-right: 10px;
}

#numbers_add_external .force-activate-cb {
	padding-left: 0;
	margin-top: 10px;
}

#numbers_add_external .force-activate-cb .help-popover {
	margin-left: 10px;
	margin-top: 2px;
	vertical-align: top;
}

#numbers_add_external .customize-number-field {
	margin-top: 5px;
}

#numbers_add_external .customize-number-field.disabled {
	display: none;
}

#numbers_add_external .customize-number-field label {
	display: inline-block;
	margin-right: 10px;
}

#numbers_add_external .customize-number-field select {
	margin-bottom: 0;
}

#numbers_add_external .customize-number-field .custom-carrier-block {
	margin-top: 5px;
	display: none;
}

#numbers_add_external .customize-number-field .custom-carrier-block.active {
	display: block;
}

#add_numbers_recap_popup {
	width: 600px;
	padding: 15px;
}

#numbers_add_external .customize-number-field {
	margin-top: 5px;
}

#numbers_container .left-part.search-custom input {
	margin-bottom: -40px;
}

#numbers_container .left-part.search-custom .search-box > i.fa-search {
    margin-top: 24px !important;
}

#numbers_container .left-part.search-custom .search-query {
    padding-left: 28px !important;
}

#numbers_container .account-section.open .numbers-wrapper {
    height: calc(80vh - 200px); 
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#numbers_container .account-section.open .numbers-wrapper > .number-box:not(.spacer) {
    flex: 0 0 auto;
}

#numbers_container .account-section.open .numbers-wrapper > .number-box.spacer {
    flex: 1 0 200px;
    min-height: 200px;
    position: relative;
    border-top: 1px solid #e0e0e9;
	border-right: 1px solid #e0e0e9;
    margin-top: -1px;
    pointer-events: none;
    background: #fff;
    padding: 0 10px;
}

.numbers-wrapper {
    scrollbar-width: auto;
    scrollbar-color: rgba(0,0,0,0.2) transparent;
}

.numbers-wrapper::-webkit-scrollbar { width: 12px; height: 12px; }
.numbers-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

.numbers-wrapper::-webkit-scrollbar-track {
    border-left: 1px solid #e0e0e9 !important;
}

#numbers_container .fake-checkbox {
    appearance: none !important;
    -webkit-appearance: none !important;
    width: 20px;
    pointer-events: none !important;
}

#form_add_cid_number .btn-group.dropup .monster-button-primary.js-submit.span2 {
	width: 180px
}

.number-box.no-data,
.number-box.disabled.no-data,
.number-box.no-results {
	text-align: center;
}
